.root{
    -fx-background-color: lightblue;
}

.label{
    -fx-text-fill: #2e94bf;
}

.button {
  -fx-background-color: #2e94bf;
  -fx-font-family: "Futura", serif;
  -fx-border: none;
  -fx-color: white;
  -fx-text-align: center;
  -fx-text-fill: lightblue;
  -fx-font-size: 12px;
  -fx-margin: 4px 2px;
  -fx-opacity: 0.6;
  -fx-transition: 0.3s;
  -fx-display: inline-block;
  -fx-text-decoration: none;
  -fx-cursor: pointer;
}

.button:hover {
    -fx-opacity: 1.2
}